*, 
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color:hsl(47, 88%, 63%);
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
    margin: auto auto auto auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    width: 18rem;
    background-color: white;
    box-shadow: 5px 5px 0px 0px black;
}

.card-image {
    border-radius: 10px;
}

.card-label {
    background-color:hsl(47, 88%, 63%);
    width: fit-content;
    padding: 0.5ch 1ch;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.card-label:hover{
    background-color:  hsl(47, 88%, 63%);
    box-shadow: 2px 2px 5px 0px black;
}


.card-text-header {
    font-size: .8rem;
}

.card-text-paragraph {
    font-size: .9rem;
    color: grey;
}

.card-footer {
    display: grid;
    grid-column: 3;
    margin-top: 0.7rem;
    grid-template-columns: min-content auto auto;
    gap: 10px;
    
}

.card-footer-image {
    grid-column: 1;
    width: 25px;
}
.card-footer-name {
    margin-top: auto;
    margin-bottom: auto;
    grid-column-start: 2;
    font-size: 0.9rem;
}